

/* nav-style */
.nav, .header, .habit, .join-section, .bmi, .head-tame, footer {
    width: 1080px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

body{
    background-color: black;
    color: white;
}

.nav-container{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.nav-title{
    color: #E6533C;font-size: 1.5rem;
    font-weight: 800;
}
.nav-a a{
   text-decoration: none;color: white;
   margin-right: 30px;

}
#nav-a{
    background-color: #E6533C;padding:2px 8px;
    border-radius: 20px;
}
#nav-icon{
    display: none;
}
/* .header-style */

.head-title{
    font-size: 5rem;
}

#head{
    font-style: italic;
    font-family:cursives;
}
.head-title-discreption{
    width: 55%;color: rgba(255, 255, 255, 0.5);margin-top: 0;
}

.head-btn{font-size: 20px;
    padding: 8px 13px;
    border-radius: 20px;gap: 10px;
}
#btn-2{border: 1px solid white;
    color: beige;
    background-color: black;
    margin-left: 20px;

}
#btn-1{
    color: beige;
    background-color:#E6533C;
    
}
.head-card{position: relative;
    bottom: 190px;right: 150px;
    border-radius: 20px;
    align-items: center;width: 200px;
   gap: 20px;padding: 3px 20px;
   background-color:  rgb(43, 35, 35);
}
#card-icon, #card-icon-2{
    color: #E6533C;font-size: 2.5rem;
}
#card-icon-2{
    display: none;
}
.card-title{
    font-size:2rem;
    font-weight: 800;
}
.card-discreption{
    margin-top: -20px;color: rgba(255, 255, 255, 0.5);
}

.head-card-2{position: relative;bottom: 600px;
    left: 200px;
    border-radius: 20px;
    width: 150px;
    height: 100px;
    padding: 0 20px;
   
   background-color:  rgb(43, 35, 35);
}
.card-title-2{
    font-size:2.8rem;
    font-weight: 900;}
.card-discreption-2{
    margin-top: -20px;color: rgba(221, 191, 191, 0.5);
}

/* habit style */

.habit-title{margin: 0px;
    text-align: center;
    font-size: 3rem;
}
.habit-discreption{
    text-align: center;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}
.img-container{display: flex; margin-top: 50px;
justify-content:space-evenly ;}


.img-box{width: 23%;}
.img{margin-left: 40px;
    border-radius: 100%;
}
.img-title{
    text-align: center;
}
.img-discreption{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

}
/* join style */

.join-container{
    display: flex;justify-content: space-between;
    background-color: rgb(35, 35, 35);padding: 40px;border-radius: 10px;
}

.join-img{border-radius: 10px;
    width: 360px;                
    height: 312px;
}
.join-content{
    width: 440px;
    height: 290px;
}
.join-title{
    font-size: 3.5rem;
    font-weight: 800;
}
.join-discreption{
     color: rgba(255, 255, 255, 0.5);
}
.join-btn{
    background-color: #E6533C;
    color: white;font-size: 1.5rem;padding: 5px 15px;
    border-radius: 20px;
}
/* bmi-style */
.bmi-con{
    width: 650px;
}
.bmi-title{font-size: 4rem;margin: none;}
.bmi-discreption, .bmi-form-discreption{margin: none;
     color: rgba(255, 255, 255, 0.5);
}

.bmi-cel{
    display: flex;
    justify-content: center;
}
/* table style */
.table-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.table-title{font-size: 2rem ;}
td{border: 0.5px solid rgba(255, 255, 255, 0.5);border-collapse: collapse;
    padding: 10px;
     color: rgba(255, 255, 255, 0.5);font-size: 1rem;}

.td{color: white; font-weight: bold;}

.form-container input{background-color: rgba(126, 122, 122, 0.5);font-size: 2rem;width: 285px;
color: white;padding: 10px;border: 1px solid black;
border-radius: 5px;}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.bmi-form-container{width: 570px;
height: 380px;}
.form-con{margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#input{
    font-size: 2rem;padding: 10px;background-color: rgba(126, 122, 122, 0.5);
    width: 600px;border: 1px solid black;
border-radius: 5px;

}
.bmi-main-div{
    display:flex;
}
#bmi-btn{margin-top: 20px; background-color: #E6533C;padding: 10px 25px;font-size: 2rem;border-radius: 50px; color: bisque;}
.team-title{text-align: center;
    font-size: 4rem;
}
/* team style */
.team-discreption{color: rgba(253, 248, 248, 0.5);text-align: center;}
.img-content img{
    width: 350px; height:300px;border-radius: 10px;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);gap: 10px;
}
.team-name{margin-left: 4px;
    margin-top: -80px;
}

.footer-title{font-size: 4rem;
font-weight: 800;font-style: italic;color: #E6533C;}
.footer-discreption{
    color: rgba(248, 244, 244, 0.5);
}
.box-1{
    width: 400px;
}
li{
    list-style: none;color: rgba(248, 244, 244, 0.5);font-size: 1.5rem;
    margin-top: 15px;
}
.footer{
    background-color: rgba(57, 55, 55, 0.5);
}
#h3{font-size: 2rem;}
.footer-container{
    display: flex;justify-content: space-evenly;
}
.end{
    text-align: center;padding: 50px;color: rgba(244, 243, 243, 0.5);
}

@media screen and (max-width:576px) {
    .nav, .head-img, .head-content,
    .habit{
        width: 100%;
    }#input{width: 100%;}
.bmi-main-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.form-container input{
    width: 100%;padding: 0;
}
.table-title{width: 60%;font-size: 1.8rem;}.bmi-con{width: 100%;}
.bmi-title{font-size: 2rem;}.bmi-discreption{width: 400px;}

.bmi-form-container{width: 25%;}
    .nav-a a, #card-icon{
        display: none;
    }
#nav-icon{
    display: block;margin-right: 20px;
}
#card-icon-2{
    display: block;background-color: white;border-radius: 100px;
}
.head-title-discreption{width: 20%;margin-top: -35px;}
    .header-container{display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .head-title{
    font-size: 4rem;
}
.head-card-2{
position: relative;bottom: 650px;
    left: 220px;height: 80px;width: 140px;
}
.head-card{position: relative;
    bottom: 350px;right:10px;
padding: 10px;width:170px;height: 60px;}
.card-title-2{
    font-size: 2rem;
}
.habit-title{
    font-size: 2.5rem;
}
.habit-discreption{
    font-size: 1rem;
}
.img-box{
    width: 60%;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.join-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.join-container{
    width: 32%;
}
.join-discreption{width: 80%;}
.join-img{
    margin-top: 50px;
}
.team-title{font-size: 3rem ;
    width: 412px;
}
.team-discreption{width: 412px;}
.team-container{
    grid-template-columns: repeat(1, 1fr);
}
.footer-container{width: 412px;
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
}
.end{
    width: 412px;text-align: start;
}
}